// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index veiw
.wrapper {
  width: 100vw;
  height: 100vh;
  .header {
    .header__title {
      background-color: rgb(0, 255, 255);
      height: 100px;
      text-align: center;
      line-height: 100px;
			font-size: 30px;
    }
    .header__icon {
      text-align: right;
      font-size: 30px;
      margin-right: 50px;
    }
    .search {

    }
  }
  .contents{
    overflow: scroll;
   
    .content{
      .content__list{
        background-color: #ccc9c9;
        margin: 10px;
        display: flex;
        justify-content: space-between;
        border: 1px solid;
        .content__list__box{  
          
          .content__list__box__place {
            margin-bottom: 20px;
            height: 30px;
          }
          .content__list__box__symptom{
            margin-bottom: 20px;
          }
        }
        .content__list__select{
          margin-right: 20px;
        }
      }
    }
  }
}

// new veiw
.info {
	display: flex;
  .info__box {
		margin: auto;
    .info__box__date{
      margin: 30px 0;
    }
    .info__box__place {
      margin-bottom: 30px;
    }
    .info__box__symptom {
      margin-bottom: 30px;
    }
    .info__box__cause{
      margin-bottom: 30px;
    }
    .info__box__treatment {
      margin-bottom: 30px;
    }
    .info__box__submit {
			
    }
  }
}
a {
  color: black;
  text-decoration: none;
}

// show veiw
.show{
  width: 100vw;
  height: 100vh;
  .show__list {
    
    .show__title {
      height: 100px;
      text-align: center;
      line-height: 100px;
      font-size: 30px;
    }
  }
  .show__list__content{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background-color: rgb(192, 192, 192);
    border: 1px solid;
    .show__list__content__box {
      
      .show__list__content__box__place{
        margin-bottom: 10px;
      }
      .show__list__content__box__symptom {
        margin-bottom: 10px;
      }
      .show__list__content__box__cause {
        margin-bottom: 10px;
      }
      .show__list__content__box__treatment {
        margin-bottom: 10px;
      }
    }
    .show__list__content__select {
      .show__list__content__select__edit {
          
      }
      .show__list__content__select__delete {
        
      }
    }
  }
}